.btn {
    display: block;
    @include flex(center, center);
    width: 180px;
    height: 50px;
    text-decoration: none;
    box-shadow: 0 0px 30px rgba($white, 0.4);
    @include border-radius(70px);
    border: 2px solid $white;
    color: $white;
    transition: all 0.3s;
    &:hover {
        color: $white;
        background-color: $main;
        box-shadow: 0 0px 30px rgba($white, 0.7);
        cursor: pointer;
        @include transform(translateY(-5px));
    }
}

.delete-cross {
    width: 20px;
    height: 20px;
    background: url('../img/cross.png');
    background-size: 100% 100%;
    opacity: 0.5;
    display: block;
    float: right;
    position: relative;
    right: -8px;
    top: 20px;

    &:hover { opacity: 0.8; }
}

.newsId {
    display: block;
    float: right;
    background: url('../img/fav.png') no-repeat;
    background-size: 100% 100%;
    width: 16px;height: 16px;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}