.alert {
    padding: 15px;
    border-radius: 18px;
    margin: 0 auto;
    &-danger {
        background-color: rgba(247, 21, 21, 0.8);
    }
    &-success {
        background-color: rgba(0, 172, 37, 0.8);
    }
}